.row{
    display: flex;
}
.col{
    color: white;
    background-color: rgb(255,160,0);
    flex: 1;
    height: 50px;
    padding-top: 20px;
    margin: 10px;
    font-size: 25px;
}
.col-2{
    color: white;
    background-color: rgb(255,130,0);
    flex: 2;
    height: 50px;
    padding-top: 20px;
    margin: 10px;
    font-size: 25px;
}
.col-3{
    color: white;
    background-color: rgb(255,100,0);
    flex: 3;
    height: 50px;
    padding-top: 20px;
    margin: 10px;
    font-size: 25px;
}